<b>Olá {{ provider }}</b>
<p>Houve um cancelamento de Horário. Veja os detalhes abaixo:</p>
<p>
  <b>Cliente</b>: {{ user }} <br />
  <b>Data/Hora</b>: {{ date }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
